@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(42, 42, 42);
  font-weight: 300;
}
body{
  background: #DC2424;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(img/StockSnap_L8QI13AK2S.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.7);
  height: 670px;
  border-radius: 10px;
  padding: 30px;
  width:900px;
}
.parameters{
  text-align: center;
  height: 100%;
}
.beers{
  width: 50%;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-right: 30px;
}
.title{
  font-weight: 400;
  font-size: 50px;
  font-size: 40px;
  line-height: 42px;
}
.btn{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  outline: none;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr{
  background-color: #2a1e41;
  margin: 20px auto;
  width:320px;
}
h2{
  font-weight: 400;
  margin-bottom: 10px;
}
input[name='beerName']{
  width: 260px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.zippers{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.zipper{
  width: 150px;
}
/*.zipper::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.zipper:focus {
    outline: none;
}
.zipper::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}*/
.beerList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.beerList img{
  margin: 20px auto;
}
.beerList h3{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.beerList h4{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.beerList p{
  text-align: justify;
  width: 100%;
  padding: 10px 0;
}
.beer-param{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}
.beer-param span{
  font-weight: 700;

}
.beer-food{
  font-size: 14px;
}
.beer-food span{
  font-weight: 700;
}
.param-container{
  display: flex;
  justify-content: flex-start;
}
.param-names{
  text-align: left;
}
.icons{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 10px;
}
.icons svg{
  margin: 5px 0;
}
.fa-beer.fa-lg{
  margin-top: 1px;
}
